.card{
    width: 290px;
    height: 338.82px;
    margin: 60px auto;
    position: relative;
}
.card .picture img{
    width: 290px;
    height: 207px;
    position: relative;
}
.row1 , .row2 , .row3{
    display: flex;
    justify-content: space-between;
    font-family: 'Jost', sans-serif;
    line-height: 100%;

}
.card .row1 .left{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    transform: translateX(10px);
    margin-top: 47px;
}
.card .row1 .right{
    transform: translateX(-10px);
    color: #8E8E8E;
    margin-top: 47px;
}

.card .row2 .left{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #4A4949;
    transform: translateX(10px);
    margin-top: 8px;
}
.card .row2 .right{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #AAAAAA;
    transform: translateX(-10px);
    margin-top: 8px;
}
.card .row3 .left{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #B600D1;
    transform: translateX(10px);
    cursor: pointer;
    margin-top: 15px;

}
.card .row1 .right{
    display: flex;
    gap: 4px;
}

.card .picture .timer{
    width: 205.74px;
    height: 43.37px;
    border: 2px solid #2636D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: -12px;
    right: 0;
    border-radius: 25px;
    color: #FFFFFF;
    gap: 1px;
    background-color: #2636D9;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.card .icon img{
    width: 66px;          
    height: 66px;  
    position: absolute; 
    border: 10px solid white;
    border-radius: 50%;
    left: 105px; 
    top: 169px;
}
.card .picture .tick img{
    position: absolute;
    width: 23px;
    height: 23px;
    top: 167px;
    left: 158px;
}

.card:hover{
    box-shadow: 0px 0px 20px grey;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}
.card .row3 .left:hover{
    text-decoration: underline;
}
.card .row1 .right .item1:hover{
    color: red;
    cursor: pointer;
}